[[ layout('_layout') -]]
[[ block('title', 'Table Master | Lokalapps') -]]
[[ block('cbody', 'table') -]]
[[ block('stylesheets', '<link rel="stylesheet" href="/assets/plugins/datatables/css/jquery.datatables.min.css">') -]]
[[ block('javascripts', '<script type="text/javascript" src="/assets/plugins/datatables/js/jquery.datatables.min.js"></script><script type="text/javascript" src="/assets/plugins/jqueryui/js/jquery-ui.min.js"></script><script type="text/javascript" src="/assets/plugins/datatables/js/jquery.datatables-custom.min.js"></script><script type="text/javascript" src="/assets/js/tables/datatable.js"></script>')]]

<!-- START Template Main -->
<section id="main" role="main">
    <!-- START Template Container -->
    <div class="container-fluid">
        <!-- Page Header -->
        <div class="page-header page-header-block">
            <div class="page-header-section">
                <h4 class="title semibold">Dashboard Post</h4>
            </div>
            <div class="page-header-section">
                <!-- Toolbar -->
                <div class="toolbar">
                    <ol class="breadcrumb breadcrumb-transparent nm">
                        <li><a href="javascript:void(0);">Dashboard</a></li>
                        <li class="active">Post</li>
                    </ol>
                </div>
                <!--/ Toolbar -->
            </div>
        </div>
        <!-- Page Header -->

        <!-- START row -->
        <div class="row">
            <div class="col-md-12">
                [[ if(contents.length > 0) { -]]
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Post</h3>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="table-data">
                        <thead>
                            <tr>
                                <th>Created at</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th>Last updated</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        [[ contents.map(function(content){ -]]
                            <tr>
                                <td>[[= content.created_at || "-" -]]</td>
                                <td>[[= content.title || "-" -]]</td>
                                <td>[[= content.desc || "-" -]]</td>
                                <td><img src="[[= content.image ? content.image.folder : '' -]][[= content.image ? content.image.file : '' -]]" style="width:200px" /></td>
                                <td>[[= content.updated_at || "-" -]]</td>
                                <td>[[= content.status || "-" -]]</td>
                                <td>
                                  <!-- button toolbar -->
                                    <div class="toolbar">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-default">Action</button>
                                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="[[- adminUrl -]]/post/edit/[[- content._id -]]"><i class="icon ico-pencil"></i>Update</a></li>
                                                <li class="divider"></li>
                                                <li><a href="[[- adminUrl -]]/post/delete/[[- content._id -]]" class="text-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="icon ico-remove3"></i>Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                <!--/ button toolbar -->
                                </td>
                           
                            </tr>
                            [[ }); -]]
                        </tbody>
                    </table>
                </div>
                 [[ } else { -]]
                 <center><h3>Oups Please Contact Your Administrator </h3></center>         
                 [[ } -]]
            </div>

        </div>
        <!--/ END row -->
    </div>
    <!--/ END Template Container -->

    <!-- START To Top Scroller -->
    <a href="#" class="totop animation" data-toggle="waypoints totop" data-marker="#main" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="-50%"><i class="ico-angle-up"></i></a>
    <!--/ END To Top Scroller -->
</section>
<!--/ END Template Main -->