[[ layout('_layout') -]]
[[ block('title', 'Form User | Appshouse') -]]
[[ block('cbody', 'form-user') -]]
[[ block('stylesheets', '<link rel="stylesheet" href="/assets/plugins/jqueryui/css/jquery-ui.min.css"><link rel="stylesheet" href="/assets/plugins/selectize/css/selectize.min.css">') -]]
[[ block('javascripts', '<script type="text/javascript" src="/assets/plugins/parsley/js/parsley.min.js"></script><script type="text/javascript" src="/assets/plugins/jqueryui/js/jquery-ui.min.js"></script><script type="text/javascript" src="/assets/library/modernizr/js/modernizr.min.js"></script><script type="text/javascript" src="/assets/plugins/selectize/js/selectize.min.js"></script>')]]
<!-- START Template Main -->
<section id="main" role="main">
    <!-- START Template Container -->
    <div class="container-fluid">
        <!-- Page Header -->
        <div class="page-header page-header-block">
            <div class="page-header-section">
                <h4 class="title semibold">Form User</h4>
            </div>
            <div class="page-header-section">
                <!-- Toolbar -->
                <div class="toolbar">
                    <ol class="breadcrumb breadcrumb-transparent nm">
                        <li><a href="javascript:void(0);">Form</a></li>
                        <li class="active">User</li>
                    </ol>
                </div>
                <!--/ Toolbar -->
            </div>
        </div>
        <!-- Page Header -->

        <!-- START row -->
        
        <!-- Form default layout -->
        <form class="panel panel-default" action="" method="post" data-parsley-validate>
			<div class="panel-heading">
			    <h3 class="panel-title">Form User</h3>
			</div>               
			<div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Name</label>
                            <input name="name" type="text" id="name" placeholder="Name" class="form-control" value="[[- form.name || '' -]]" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Email</label>
                            <input name="email" type="email" id="email" placeholder="email" class="form-control" value="[[- form.email || '' -]]" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="control-label">Password</label>
                            <input name="password" type="password" id="password" placeholder="password" class="form-control" value="[[- form.password || '' -]]" required>
                        </div>
                    </div>
                </div>
            </div>
			<div class="panel-footer">
		    	<button type="submit" class="btn btn-primary">Proceed</button>
		    	<button type="reset" class="btn btn-inverse">Reset</button>
			</div>
		</form>
         <!--/ Form default layout -->  
    <!--/ END Template Container -->

    <!-- START To Top Scroller -->
    <a href="#" class="totop animation" data-toggle="waypoints totop" data-marker="#main" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="-50%"><i class="ico-angle-up"></i></a>
    <!--/ END To Top Scroller -->
</section>
<!--/ END Template Main -->