[[ layout('_layout') -]]
[[ block('title', 'Admin Dashboard | Lokalapps') -]]
[[ block('cbody', 'Admin Dashboard') -]]
[[ block('stylesheets', '<link href="/assets/plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>') -]]
[[ block('javascripts', '<script type="text/javascript" src="/assets/plugins/datatables/js/jquery.datatables.min.js"></script><script type="text/javascript" src="/assets/plugins/datatables/tabletools/js/tabletools.min.js"></script><script type="text/javascript" src="/assets/plugins/datatables/tabletools/js/zeroclipboard.js"></script><script type="text/javascript" src="/assets/plugins/datatables/js/jquery.datatables-custom.min.js"></script><script type="text/javascript" src="/assets/javascript/tables/datatable.js"></script>') -]]
<section id="main" role="main">
<!-- START Template Container -->
    
<!--/ END Template Container -->
</section>
<script type="text/javascript">
    $(function() {
        var oTable = $('.datatable').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        });
        oTable.fnSort( [ [1,'desc'] ] );
    });
</script>
