{{ layout('../admin/_layout') -}}

<form method="post" class="well form-horizontal">
    <legend>{{= title -}}</legend>
    <fieldset>
    {{- form -}}
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-large btn-primary" value="Submit">
    </div>
</form>