{{ layout('../admin/event_layout') -}}

<script type="text/javascript" language="javascript" src="/admin/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/admin/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" src="/admin/media/js/ZeroClipboard.js"></script>
<script type="text/javascript" charset="utf-8" src="/admin/media/js/TableTools.js"></script>
<script type="text/javascript" charset="utf-8" src="/admin/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" charset="utf-8">
	
	/* Table initialisation */
	$(document).ready( function () {
		$('#example').dataTable( {
			"sDom": "<'row-fluid'<'span6'T><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
			"oTableTools": {
				"sSwfPath": "/media/swf/copy_csv_xls_pdf.swf",
				"aButtons": [
					"copy",
					"print",
					"csv",
					"pdf"
				]
			}
		} );
	} );
</script>
</script>

<div id='header'>
	<h1>User Management</h1>
</div>

<div class="form-actions">
</div>
{{ if(content.length > 0){ -}}
<div class="container">
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Sex</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Company</th>
				<th>Job</th>
				<th>Reason</th>
				<th>Who</th>
				<th>Date</th>
				<!-- <th>Edit</th>-->
				<th>Delete</th> 
			</tr>
		</thead>
		<tbody>
		{{ for(i=0;i<content.length;i++){ -}}
			<tr class="odd gradeX">
				<td>{{- content[i].fname -}}</td>
				<td>{{- content[i].lname -}}</td>
				<td>{{- content[i].sex -}}</td>
				<td>{{- content[i].email -}}</td>
				<td>{{- content[i].phone -}}</td>
				<td>{{- content[i].company -}}</td>
				<td>{{- content[i].job -}}</td>
				<td>{{- content[i].reason -}}</td>
				<td>{{- content[i].who -}}</td>
				<td>{{- content[i].date -}}</td>
				<td><input type="submit" class="btn btn-small btn-primary" value="Delete" onclick="window.location = '/dashboard/event/user/delete/{{- content[i]._id -}}';"/></td>	
			</tr>
		{{ } -}}
		</tbody>
	</table>			
</div>
{{ } -}}