{{ layout('../admin/_layout') -}}

<script type="text/javascript" language="javascript" src="/admin/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/admin/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" src="/admin/media/js/ZeroClipboard.js"></script>
<script type="text/javascript" charset="utf-8" src="/admin/media/js/TableTools.js"></script>
<script type="text/javascript" charset="utf-8" src="/admin/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" charset="utf-8">
	
	/* Table initialisation */
	$(document).ready( function () {
		$('#example').dataTable( {
			"sDom": "<'row-fluid'<'span6'T><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
			"oTableTools": {
				"sSwfPath": "/media/swf/copy_csv_xls_pdf.swf",
				"aButtons": [
					"copy",
					"print",
					"csv",
					"pdf"
				]
			}
		} );
	} );
</script>
</script>

<div id='header'>
	<h1>User Management</h1>
</div>

<div class="form-actions">
	<!-- <input type="submit" class="btn btn-large btn-primary" value="Create New User" onclick="window.location = 'user/create/';"/> -->
</div>
{{ if(content.length > 0){ -}}
<div class="container">
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
		<thead>
			<tr>
				<th>Email</th>
				<th>Open</th>
				<th>Open - Range</th>
				<th>Cons</th>
				<th>Cons - Range</th>
				<th>Extra</th>
				<th>Extra - Range</th>
				<th>Agree</th>
				<th>Agree - Range</th>
				<th>Neuro</th>
				<th>Neuro - Range</th>
				<!-- <th>Edit</th>
				<th>Delete</th> -->
			</tr>
		</thead>
		<tbody>
		{{ for(i=0;i<content.length;i++){ -}}
			<tr class="odd gradeX">
				<td>{{- content[i].email -}}</td>
				<td>{{- content[i].opennessTotal || 0 -}}</td>
				<td>{{- content[i].opennessRange -}}</td>
				<td>{{- content[i].conscientiousnessTotal -}}</td>
				<td>{{- content[i].conscientiousnessRange -}}</td>
				<td>{{- content[i].extraversionTotal -}}</td>
				<td>{{- content[i].extraversionRange -}}</td>
				<td>{{- content[i].agreeablenessTotal -}}</td>
				<td>{{- content[i].agreeablenessRange -}}</td>
				<td>{{- content[i].neuroticismTotal -}}</td>
				<td>{{- content[i].neuroticismRange -}}</td>
				<!-- <td><input type="submit" class="btn btn-small btn-primary" value="Edit" onclick="window.location = '/user/edit/{{- content[i]._id -}}';"/></td>
				<td><input type="submit" class="btn btn-small btn-primary" value="Delete" onclick="window.location = '/user/delete/{{- content[i]._id -}}';"/></td>	 -->
			</tr>
		{{ } -}}
		</tbody>
	</table>			
</div>
{{ } -}}