<div style="margin-bottom:20px"><a href="/dashboard">CMS Login</a></div>
[[ if(contents.length > 0) { -]]
	
	<table class="table table-striped table-bordered table-hover" id="table-data">
        <thead>
            <tr>
                <th>Created at</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Last updated</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
			[[ contents.map(function(content){ -]]
			<tr>
                <td>[[= content.created_at || "-" -]]</td>
                <td><a href="/article/[[= content.slug -]]">[[= content.title || "-" -]]</a></td>
                <td>[[= content.desc || "-" -]]</td>
                <td><img src="[[- content.image.folder -]][[- content.image.file -]]" style="width:200px" /></td>
                <td>[[= content.updated_at || "-" -]]</td>
                <td>[[= content.status || "-" -]]</td>
            </tr>
			[[ }); -]]
		</tbody>
    </table>
[[ } else { -]]
	<center><h3>No post available</h3></center>         
[[ } -]]