{{ layout('../admin/_layout') -}}


<div id='header'>
	<h1>Subscriber Detail</h1>
</div>
<br/>
{{ if(data){ -}}
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
			<tr>
				<th>Name</th>
				<td>{{- data.name -}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{- data.email -}}</td>
			</tr>
			<tr>
				<th>Gender</th>
				<td>{{- data.gender -}}</td>
			</tr>
			<tr>
				<th>Phone</th>
				<td>{{- data.phone -}}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{- data.created_date -}}</td>
			</tr>
	</table>			
	<br/>
<input type="submit" onClick="history.go(-1)" class="btn btn-primary" value="Back">
{{ } -}}