{{ layout('../admin/_layout') -}}

<script type="text/javascript" language="javascript" src="/admin/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/admin/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/admin/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/admin/media/js/ZeroClipboard.js"></script>
<script type="text/javascript" charset="utf-8" src="/admin/media/js/TableTools.js"></script>
<script type="text/javascript" charset="utf-8" src="/admin/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" charset="utf-8">
	
	/* Table initialisation */
	$(document).ready( function () {
		$('#example').dataTable( {
			"sDom": "<'row-fluid'<'span6'T><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
			"oTableTools": {
				"sSwfPath": "/media/swf/copy_csv_xls_pdf.swf",
				"aButtons": [
					"copy",
					"print",
					"csv",
					"pdf"
				]
			}
		} );
		
		$( ".from" ).datepicker({
	        defaultDate: "+1w",
	        changeMonth: true,
	        numberOfMonths: 2,
	        dateFormat: 'dd-mm-yy',
	        onSelect: function( selectedDate ) {
	            $( ".to" ).datepicker( "option", "minDate", selectedDate );
	        }
	    });
	    $( ".to" ).datepicker({
	        defaultDate: "+1w",
	        changeMonth: true,
	        numberOfMonths: 2,
	        dateFormat: 'dd-mm-yy',
	        onSelect: function( selectedDate ) {
	            $( ".from" ).datepicker( "option", "maxDate", selectedDate );
	        }
	    });
	} );
</script>

<div id='header'>
	<h1>Activity Monitor</h1>
</div>

<form method="get" class="well">
<div class="form-actions">
	{{- form -}}
    <input type="submit" class="btn btn-large btn-primary" value="Search">
</div>
</form>
{{ if(content.length > 0){ -}}
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
		<thead>
			<tr>
				<th>Name</th>
				<th>URL</th>
				<th>IP</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
		{{ for(i=0;i<content.length;i++){ -}}
			<tr class="odd gradeX">
				<td>{{- content[i].user.name -}}</td>
				<td>{{- content[i].url -}}</td>
				<td>{{- content[i].ip -}}</td>
				<td>{{- content[i].logTime -}}</td>
			</tr>
		{{ } -}}
		</tbody>
	</table>			

{{ } -}}