[[ layout('../_layout') -]]
[[ block('title', 'Admin Dashboard | Lokalapps') -]]
[[ block('cbody', 'admin-config') -]]
[[ block('stylesheets', '<link rel="stylesheet" href="/assets/plugins/alertify/css/alertify.core.css"/><link rel="stylesheet" href="/assets/plugins/alertify/css/alertify.default.css"/>') -]]
[[ block('javascripts', '') -]]

<section id="main" role="main">
  <!-- Page Header -->
  <div class="page-header page-header-block">
      <div class="page-header-section">
          <h4 class="title semibold">Config File</h4>
      </div>
      <div class="page-header-section">
          <!-- Toolbar -->
          <div class="toolbar">
              <ol class="breadcrumb breadcrumb-transparent nm">
                  <li><a href="javascript:void(0);">Dashboard</a></li>
                  <li class="active">Config</li>
              </ol>
          </div>
          <!--/ Toolbar -->
      </div>
  </div>
  <!-- Page Header -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <pre id="editor" style="width:100%;height:550px;">[[- metadata -]]</pre>
        </div>
      </div>
       <div class="panel-footer" align="right">
         <input type="submit" value="Save" onClick="saveParams()" class="btn btn-primary btn-lg"/>
       </div>
  </div>
</section>

<script src="/assets/plugins/tinymce/tinymce.min.js" type="text/javascript"></script>
<script src="/assets/plugins/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/plugins/alertify/alertify.min.js"></script>
<script type="text/javascript">
  var editor = ace.edit("editor");editor.setTheme("ace/theme/monokai");editor.setShowPrintMargin(false);editor.setHighlightActiveLine(false);
  editor.session.setUseSoftTabs(false);editor.getSession().setMode("ace/mode/json");function saveParams() {
    var content = editor.getValue();
    try { JSON.parse(content);$.ajax({
        type: "POST",
        url: '[[- adminUrl -]]/config/general/save',
        data: {
          metadata: content
        },
        success: function() {
          alertify.success("Params Saved");
        }
      });
    } catch (e) {
      alertify.error("Content is not valid JSON");
    }
    
  }
</script>