<html>    
    <head>
        <title>MawasID</title>
    </head>
    <body>
    Hi {{= name.toUpperCase() }}, <br /><br />
    We received a request to reset the password for your MawasID account. If you don't want to change your password, please ignore this email. <br /><br />
    If you want to reset your password, please click on the following link (or copy and paste it into your web browser):<br /><br />
    <a href="http://{{= host }}:8383/engine/forgot/{{= userId }}/{{= password }}">http://{{= host }}:8383/engine/forgot/{{= userId }}/{{= password }}</a>
    <br /><br />
    The link takes you to a secure web page where you can set a new password of your choosing. <br /><br />
    If you have any questions, please email support@mawasid.com.<br /><br /><br />
    Thank you<br />
    MawasID Team
    <br /><br /><br /><h6>Please do not reply to this email as the mailbox is not monitored.</h6>
</body>
</html>
