Hi {{= name.toUpperCase() }},

We received a request to reset the password for your MawasID account. If you don't want to change your password, please ignore this email.

If you want to reset your password, please click on the following link (or copy and paste it into your web browser):

http://{{= host }}:8383/engine/forgot/{{= userId }}/{{= password }}

The link takes you to a secure web page where you can set a new password of your choosing.

If you have any questions, please email support@mawasid.com.

Thank you
MawasID Team


Please do not reply to this email as the mailbox is not monitored.
